<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
  
  <div class="carer-content-block col-sm-4 mt-2 mb-10">
    <h2 style="text-align: center;">Login Form</h2>
    <div class="imgcontainer">
      <img src="/assets/images/dog2.jpg" alt="Profile" class="profile">
    </div>
    <div class="form-group">
      <label for="uname"><b>Email</b></label>
      <input type="email" class="form-control" placeholder="Enter Email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="form-group">
      <label for="psw"><b>Password</b></label>
      <input type="text" class="form-control" placeholder="Enter Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
    </div>
      <button type="submit" class="btn btn-first" (click)="onSubmit()">Login</button>

      <h1>{{message}}</h1>

    
  </div>
</form>