<div class="container-fluid">
    <div class="row d-sm-flex align-items-center justify-content-between">
      <div class="col-md-6 order-2 order-sm-1 p-3 p-sm-5">
        <div class="p-0 p-sm-5">
          <small class="text-uppercase" style="color: black;">Enhancing the wellnessof the pets and pet parents</small>
        <h1 class="mb-4 display-4" style="font-weight: 600;">Crazy For Pets <span style="color:darkorange;">4Paws</span></h1>
        <p class="text-secondary" style="line-height: 2;">A healthy, happy pet is a core value to pet parents, 
          and the service will contribute in the process of achieving and keeping the value. To enhance the wellness of the pets by providing the
          pets' needs when the pet parents can't do so due to 
          lack of time, health reasons and others</p>
        <a href="#" style="background-color: darkorange; width: 180px; height: 55px; font-size: 22px;" class="btn px-4 py-3 text-white d-flex align-items-center justify-content-between">Back to Main</a>
        </div>
      </div>
      <div class="w-100 col-md-6 order-1 order-sm-2" style="background-image:url('assets/images/about.jpeg'); 
      height: 100vh; min-height: 400px; background-position:center; background-size: cover;"></div>
    </div>
    </div>
