<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a name="top" class="navbar-brand" routerLink="/home" routerLinkActive="active">4Paws</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/search" routerLinkActive="active">Search Pet Carers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/petCarer" routerLinkActive="active">Become a Pet Carer</a>
          </li>
          </ul>
      </div>
      <div class="nav-right">
        <ul class="nav navbar-nav">
          <li class="nav-item" style="text-align: right;">
            <a class="nav-link active" aria-current="page" routerLink="/signin" routerLinkActive="active">Sign in</a>
          </li>
          <li class="nav-item" style="text-align: right;">
            <a class="nav-link active" aria-current="page" routerLink="/register" routerLinkActive="active">Sign up</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
