
<div class="container">  
  <form id="contact" action="" method="post">
    <h3>Booking Cancellation</h3><br>
    <h4>Cancellations made 48 hours prior is free of cancellation fee.</h4>
    <fieldset>
      <input placeholder="admin" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="4paws@gmail.com" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Area" type="text" tabindex="3" required>      
    </fieldset>
    <fieldset>
      <span class="label"> Date </span>
      <input type="date" tabindex="4" required>      
    </fieldset>
    <fieldset>
    <span class="label"> Time </span>
    <select name="" id="">
      <option value="option-1">10:00</option>
      <option value="option-2">10:30</option>
      <option value="option-3">11:00</option>
      <option value="option-4">11:30</option>
      <option value="option-5">12:00</option>
      <option value="option-6">12:30</option>
      <option value="option-7">13:00</option>
      <option value="option-8">13:30</option>
      <option value="option-9">14:00</option>
      <option value="option-10">14:30</option>
      <option value="option-11">15:00</option>
      <option value="option-12">15:30</option>
      <option value="option-13">16:00</option>
      <option value="option-14">16:30</option>
      <option value="option-15">17:00</option>
      <option value="option-16">17:30</option>
      <option value="option-17">Other</option>
      </select>        
    </fieldset>
    <fieldset>
      <textarea placeholder="Type your Message Here...." tabindex="6"></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" (click)="myFunction()">Submit</button>
    </fieldset>
  </form>  
</div>



