<div *ngIf="hideCF1">

  <form #userForm="ngForm" (ngSubmit)="caFunction()" novalidate>

    <!--{{cancelation | json}}-->

    <div class="carer-content-block col-sm-4 mt-2 mb-10 mr-10">

      <h2>Cancelation Form </h2>
      <div class="row">
        <div class="form-group col-sm-6">
          <label for="user_name">Name</label>
          <input type="text" class="form-control" id="user_name" name="user_name" [(ngModel)]="cancelation.user_name"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group col-sm-6">
          <label for="user_email">Email</label>
          <input type="text" class="form-control" id="user_email" [(ngModel)]="cancelation.user_email"
            [ngModelOptions]="{standalone: true}">
        </div>
      </div>

      <div class="form-group">
        <label for="user_area">Area</label>
        <select id="user_area" class="form-control" name="user_area" [(ngModel)]="cancelation.user_area"
          [ngModelOptions]="{standalone: true}">
          <option value="">Please choose your search neighborhood</option>
          <option value="allLondon">All London Area</option>
          <option value="argyle">Argyle</option>
          <option value="byron">Byron</option>
          <option value="calring">Carling Heights</option>
          <option value="cherryhill">Cherry Hill</option>
          <option value="masonville">Masonville</option>
          <option value="medway">Medway</option>
          <option value="oldnorth">Old North</option>
          <option value="woodfield">Woodfield</option>
        </select>
      </div>

      <div class="form-group">
        <label for="user_date">Date</label>
        <input class="form-control" type="date" value="2011-08-19" id="user_date" name="user_date"
          [(ngModel)]="cancelation.user_date" [ngModelOptions]="{standalone: true}">
      </div>

      <div class="form-group">
        <label for="user_time">Province</label>
        <select class="form-control" id="user_time" name="user_time" required="required"
          [(ngModel)]="cancelation.user_time" [ngModelOptions]="{standalone: true}">
          <option value="">---------</option>
          <option value="10:00">10:00</option>
          <option value="10:30">10:30</option>
          <option value="11:00">11:00</option>
          <option value="11:30">11:30</option>
          <option value="12:00">12:00</option>
          <option value="12:30">12:30</option>
          <option value="13:00">13:00</option>
          <option value="13:30">13:30</option>
          <option value="13:00">14:00</option>
          <option value="13:30">14:30</option>
          <option value="13:00">15:00</option>
          <option value="13:30">15:30</option>
          <option value="13:00">16:00</option>
          <option value="13:30">16:30</option>
          <option value="13:00">17:00</option>
          <option value="13:30">17:30</option>

        </select>
      </div>
    </div>

    <div>
      <input class="btn btn-first" type="submit" id="submit" value="Cancel">

    </div>

  </form>

</div>

<div *ngIf="showAlertCF2" class="carer-content-block col-sm-4 mt-2 mb-10">
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Appointment Canceled</h4>
    <p>We have received your application and want to thank you for your interest in 4Paws. We will be reviewing all
      applications, and those candidates that most closely match our current requirements for this position will be
      contacted.
      We wish you every success in your career endeavours.<br>

      Best regards, <br>

      4Pwas Talent Acquisition Team</p>
  </div>
  <a class="btn btn-first" routerLink="/home" routerLinkActive="active">Back to home</a>
</div>