
  <div class=" carer-content-block col-sm-4 mt-2 mb-10">
    <h2>My Profile</h2>

    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Well done!</h4>
      <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so
        that you can see how spacing within an alert works with this kind of content.</p>
      <hr>
      <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
    </div>

  </div>



<!--Profile Image-->
<!--carer-content-block

    <div class="profile-img">
      <img class="rounded-circle" src="/assets/images/petCarerProfile.JPG" data-holder-rendered="true" 
        alt="profile photo" width="160" height="180" >
    </div>
    <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
      {{userForm.value | json}} 
      <br>
      {{petCarerInfo | json}}
      {{petCarerProfile | json}}

    <br>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" name="photo" [(ngModel)] = "petCarerProfile.photo">
      <label class="custom-file-label" for="inputGroupFile01" >Choose file</label>
    </div>


    <div class="form-group">
      <br>
      <label for="petCarerPreference">Breed Preference</label>
      <select class="form-control" id="petCarerProvince" required="required" name="breedPref" [(ngModel)] = "petCarerProfile.breedPref">
        <option value="">Please choose the breed</option>
        <option value="">All dogs are my favorite!</option>
        <option value="afgound">Afgan Hound</option>
        <option value="bulldog">Bull Dog</option>
        <option value="goldendoodle">Golden Doodle</option>
        <option value="goldenretriever">Golden Retriever</option>
        <option value="poodle">Poodle</option>
        <option value="others">Others</option>
      </select>
    </div>

    <br>
    <div class="form-group">
      <label for="petCarerNeighborhood">Service Neighborhood</label>
      <select class="form-control" id="petCarerNeighborhood" required="required" name="carerNeighbor" [(ngModel)] = "petCarerProfile.carerNeighbor">
        <option value="">Please choose your service neighborhood</option>
        <option value="allLondon">All London area.</option>
        <option value="argyle">Argyle</option>
        <option value="byron">Byron</option>
        <option value="calring">Carling Heights</option>
        <option value="cherryhill">Cherry Hill</option>
        <option value="masonville">Masonville</option>
        <option value="medway">Medway</option>
        <option value="oldnorth">Old North</option>
        <option value="woodfield">Woodfield</option>
      </select>
    </div>

    <br>
    <div class="card">
      <div class="card-header">
        About Me
      </div>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
        placeholder="Tell pet owners about yourself and dog walker experience." name="aboutCarer" [(ngModel)] = "petCarerProfile.aboutCarer"></textarea>
    </div>

    <br>
    <div class="card">
      <div class="card-header">
        Police Background Check
      </div>
      <div class="card-body">
        <p class="card-text">Please upload a file.</p>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" name="bgcheck" [(ngModel)] = "petCarerProfile.bgcheck">
          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
        </div>
      </div>
    </div>

    <a class="btn btn-first" id="profile" routerLink="/profile" routerLinkActive="active">Submit</a>
  </form>
  -->