.carer-content-block {
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: auto;
    width: 60%;
    padding: 10px;
   
}

button {
    background-color: #f77a06;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
