<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
  <!--  {{userForm.value | json}} <br>
        {{petCarerInfo | json}}  -->

  <div *ngIf="hideCF1" class="carer-content-block col-sm-4 mt-2 mb-10">
    <h2>Basic Info</h2>
    <div class="row">
      <div class="form-group col-sm-6">
        <label for="sitter_firstname">First Name</label>
        <input type="text" class="form-control" id="sitter_firstname" name="sitter_firstname"
          [(ngModel)]="petCarerInfo.sitter_firstname">
      </div>
      <div class="form-group col-sm-6">
        <label for="sitter_lastname">Last Name</label>
        <input type="text" class="form-control" id="sitter_lastname" name="sitter_lastname"
          [(ngModel)]="petCarerInfo.sitter_lastname">
      </div>
    </div>
    <div class="form-group">
      <label for="sitter_email">Email</label>
      <input type="email" class="form-control" id="sitter_email" name="sitter_email"
        [(ngModel)]="petCarerInfo.sitter_email">
    </div>
    <div class="form-group">
      <label for="sitter_address">Address</label>
      <input type="text" class="form-control" id="sitter_address" name="sitter_address"
        [(ngModel)]="petCarerInfo.sitter_address">
    </div>
    <div class="row">
      <div class="form-group col-sm-4">
        <label for="sitter_city">City</label>
        <input type="text" class="form-control" maxlenght="75" id="sitter_city" name="sitter_city"
          [(ngModel)]="petCarerInfo.sitter_city">
      </div>
      <div class="form-group col-sm-4">
        <label for="sitter_province">Province</label>
        <select class="form-control" id="sitter_province" name="sitter_province" required="required"
          [(ngModel)]="petCarerInfo.sitter_province">
          <option value="">---------</option>
          <option value="AB">Alberta</option>
          <option value="BC">British Columbia</option>
          <option value="MB">Manitoba</option>
          <option value="NB">New Brunswick</option>
          <option value="NL">Newfoundland and Labrador</option>
          <option value="NT">Northwest Territories</option>
          <option value="NS">Nova Scotia</option>
          <option value="NU">Nunavut</option>
          <option value="ON">Ontario</option>
          <option value="PE">Prince Edward Island</option>
          <option value="QC">Quebec</option>
          <option value="SK">Saskatchewan</option>
          <option value="YT">Yukon</option>
        </select>
      </div>
      <div class="form-group col-sm-4">
        <label for="sitter_postalCode">Postcode</label>
        <input type="text" class="form-control" id="sitter_postalCode" name="sitter_postalCode"
          [(ngModel)]="petCarerInfo.sitter_postalCode">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-4">
        <label for="sitter_country">Country</label>
        <input type="text" class="form-control" id="sitter_country" value="Canada" name="sitter_country"
          [(ngModel)]="petCarerInfo.sitter_country">
      </div>
      <div class="form-group col-sm-8">
        <label for="sitter_dob">Date of Birthday</label>
        <input class="form-control" type="date" value="2011-08-19" id="sitter_dob" name="sitter_dob"
          [(ngModel)]="petCarerInfo.sitter_dob">
      </div>
    </div>
    <div class="form-group">
      <label for="sitter_phone">Phone Number</label>
      <input type="text" class="form-control" id="sitter_phone" name="sitter_phone" placeholder="9876543210"
        [(ngModel)]="petCarerInfo.sitter_phone"><br><br>
    </div>
    <a class="btn btn-first" id="profile" (click)="trigger()">Edit Profile</a>
  </div>

  <div *ngIf="showCF2" class="carer-content-block col-sm-4 mt-2 mb-10">
    <!--Pet Carer form part 2-->
    <h2>My Profile</h2>
    <div class="profile-img">
      <img class="rounded-circle" id="displayPicture" src="/assets/images/petCarerProfile.JPG"
        data-holder-rendered="true" alt="profile photo" width="160" height="180">
    </div>

    <br>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="profilePicture"
        onchange="document.getElementById('displayPicture').src = window.URL.createObjectURL(this.files[0])"
        aria-describedby="sitter_photo" name="sitter_photo" [(ngModel)]="petCarerInfo.sitter_photo">
      <label class="custom-file-label" for="profilePicture">Choose file</label>
    </div>
    <br>
    <br>
    <br>
    <div class="form-group">
      <label for="sitter_password">Choose a password</label>
      <input type="text" class="form-control" id="sitter_password" name="sitter_password"
        [(ngModel)]="petCarerInfo.sitter_password"><br>
    </div>
    <div class="form-group">
      <label for="sitter_petpref">Breed Preference</label>
      <select class="form-control" id="sitter_petpref" required="required" name="sitter_petpref"
        [(ngModel)]="petCarerInfo.sitter_petpref">
        <option value="">Please choose the breed</option>
        <option value="">All dogs are my favorite!</option>
        <option value="afgound">Afgan Hound</option>
        <option value="bulldog">Bull Dog</option>
        <option value="goldendoodle">Golden Doodle</option>
        <option value="goldenretriever">Golden Retriever</option>
        <option value="poodle">Poodle</option>
        <option value="others">Others</option>
      </select>
    </div>
    <br>
    <div class="form-group">
      <label for="sitter_location">Service Neighborhood</label>
      <select class="form-control" id="sitter_location" required="required" name="sitter_location"
        [(ngModel)]="petCarerInfo.sitter_location">
        <option value="">Please choose your service neighborhood</option>
        <option value="allLondon">All London area.</option>
        <option value="argyle">Argyle</option>
        <option value="byron">Byron</option>
        <option value="calring">Carling Heights</option>
        <option value="cherryhill">Cherry Hill</option>
        <option value="masonville">Masonville</option>
        <option value="medway">Medway</option>
        <option value="oldnorth">Old North</option>
        <option value="woodfield">Woodfield</option>
      </select>
    </div>
    <br>
    <div class="card">
      <div class="card-header">
        About Me
      </div>
      <textarea class="form-control" id="sitter_intro" rows="5"
        placeholder="Tell pet owners about yourself and dog walker experience." name="sitter_intro"
        [(ngModel)]="petCarerInfo.sitter_intro"></textarea>
    </div>
    <br>
    <div class="card">
      <div class="card-header">
        Expected Payment
      </div>
      <div class="card-body">
        <div class="form-group col-sm-4">
          <label for="sitter_price">Hourly</label>
          <input type="text" class="form-control" id="sitter_price" value="Canada" name="sitter_price"
            [(ngModel)]="petCarerInfo.sitter_price">
        </div>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-header">
        Police Background Check
      </div>
      <div class="card-body">
        <p class="card-text">Please upload a file.</p>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="sitter_policeCheck" aria-describedby="sitter_policeCheck"
            name="sitter_policeCheck" [(ngModel)]="petCarerInfo.sitter_policeCheck">
          <label class="custom-file-label" for="sitter_policeCheck">Choose file</label>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="card">
      <div class="card-header">
        Bank Information
      </div>
      <div class="card-body">
        <div class="card">
          <div class="form-group col-sm-6">
            <label for="sitter_bankAccNum">Account Number</label>
            <input type="text" class="form-control" id="sitter_bankAccNum" name="sitter_bankAccNum"
              [(ngModel)]="petCarerInfo.sitter_bankAccNum">
          </div>
          <div class="form-group col-sm-6">
            <label for="sitter_bankAccType">Account Type</label>
            <input type="text" class="form-control" id="sitter_bankAccType" name="sitter_bankAccType"
              [(ngModel)]="petCarerInfo.sitter_bankAccType">
          </div>
          <div class="form-group col-sm-6">
            <label for="sitter_bankBranch">Branch</label>
            <input type="text" class="form-control" id="sitter_bankBranch" name="sitter_bankBranch"
              [(ngModel)]="petCarerInfo.sitter_bankBranch">
          </div>
          <div class="form-group col-sm-6">
            <label for="sitter_bankName">Bank Name</label>
            <input type="text" class="form-control" id="sitter_bankName" name="sitter_bankName"
              [(ngModel)]="petCarerInfo.sitter_bankName">
          </div>
        </div>
      </div>
    </div>
    <br>
    <input class="btn btn-first"  type="submit" id="submit" value="Submit">
  </div>
</form>
<div *ngIf="showAlertCF2" class="carer-content-block col-sm-4 mt-2 mb-10">
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Well done!</h4>
    <p>We have received your application and want to thank you for your interest in 4Paws. We will be reviewing all
      applications, and those candidates that most closely match our current requirements for this position will be
      contacted.
      We wish you every success in your career endeavours.<br>

      Best regards, <br>

      4Pwas Talent Acquisition Team</p>
  </div>
  <a class="btn btn-first" routerLink="/profile" routerLinkActive="active">See Profile</a>
</div>