<div class="carer-content-block col-sm-4 mt-2 mb-10">
  <h2>Basic Info</h2>

  <form>
    <div class="form-group">
      <label for="petCarerName">Name</label>
      <input type="text" class="form-control" id="petCarerName">
    </div>
    <div class="form-group">
      <label for="petCarerEmail">Email</label>
      <input type="email" class="form-control" id="petCarerEmail">
    </div>
    <div class="row">
      <div class="form-group col-sm-4">
        <label for="petCarerCity">City</label>
        <input type="text" class="form-control" maxlenght="75" id="petCarerCity">
      </div>
      <div class="form-group col-sm-4">
        <label for="petCarerProvince">Province</label>
        <select class="form-control" id="petCarerProvince" required="required">
          <option value="">---------</option>
          <option value="AB">Alberta</option>
          <option value="BC">British Columbia</option>
          <option value="MB">Manitoba</option>
          <option value="NB">New Brunswick</option>
          <option value="NL">Newfoundland and Labrador</option>
          <option value="NT">Northwest Territories</option>
          <option value="NS">Nova Scotia</option>
          <option value="NU">Nunavut</option>
          <option value="ON">Ontario</option>
          <option value="PE">Prince Edward Island</option>
          <option value="QC">Quebec</option>
          <option value="SK">Saskatchewan</option>
          <option value="YT">Yukon</option>
        </select>
      </div>
      <div class="form-group col-sm-4">
        <label for="petCarerPostcode">Postcode</label>
        <input type="text" class="form-control" id="petCarerPostcode">
      </div>
      <div class="form-group col-sm-4">
        <label for="petCarerCountry">Country</label>
        <input type="text" class="form-control" id="petCarerCountry" value="Canada">
      </div>
    </div>

    <div class="form-group">
      <label for="phone">Phone Number</label>
      <input type="tel" class="form-control" id="phone" name="phone" placeholder="(123) 456-678"
        pattern="[(0-9]{3}) [0-9]{3}-[0-9]{3}" required><br><br>
    </div>
    <a class="btn btn-first" id="profile" routerLink ="/profile" routerLinkActive="active">Edit Profile</a>
  </form>

</div>