<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
	<div class="search">
		<input type="text" class="searchTerm" placeholder="Search">
		<button type="submit" class="searchButton">
		  <i class="fa fa-search"></i>
	   </button>
	 </div>	
</div>	

<div class="container">
  <div class="row">
    <div class="col-12">
		<table class="table table-image">
		  <thead>
		    <tr>
		      <th scope="col">Result</th>
		      <th scope="col">Profile</th>
          	  <th scope="col">About & Experience</th>
		      <th scope="col">Name</th>
		      <th scope="col">Rates</th>
		      <th scope="col">Service Neighborhood</th>
			  <th scope="col">Ratings</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th scope="row">1</th>
		      <td class="w-25">
			      <img src="assets/images/dogWalkerTable3.jpg" class="img-fluid img-thumbnail" alt="table1">
		      </td>
		      <td>Growing up, our home was always filled with animals. I own 2 cats (Lily & James).
            I was formerly a volunteer dog walker at the Humane Society of London Middlesex.
            I’ve dealt with dogs that have had a wide range of behaviours; lovable family pets, dogs with specific needs, 
            and even rescues learning to love again. 
            If your dog is excited and ready to go, that’s great! If they need time to warm up to me, then that’s fine too.
          </td>
		      <td>Cristina</td>
		      <td>$15</td>
		      <td>Masonville, North Area</td>
			  <td>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
			  </td>
		    </tr>
		    <tr>
		      <th scope="row">2</th>
		      <td class="w-25">
			      <img src="assets/images/dogWalkerTable2.jpg" class="img-fluid img-thumbnail" alt="table2">
		      </td>
		      <td>Rob, Sarah (dad and mom) and Olivia and Abby (8 and 6 year old daughters) are experienced dog owners
            that would provide safe, loving care for your dog. We would work as a team to look after your dog, go for walks, 
            give it attention and lots of cuddles. We recently had the great experience of adopting, training and raising our family dog.</td>
		      <td>Rob</td>
		      <td>$18</td>
		      <td>White Oaks, Pond Mills</td>
			  <td>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
			  </td>
		    </tr>
        <tr>
		      <th scope="row">3</th>
		      <td class="w-25">
			      <img src="assets/images/dogWalkerTable1.png" class="img-fluid img-thumbnail" alt="table3">
		      </td>
		      <td>I am a graduate student at Western University, so my schedule is quite flexible. I grew up with a cavalier king charles 
            spaniel, so I am very used to the ins and outs of pet care including walking, feeding, bathroom duty, and of course, affection.</td>
		      <td>Elle</td>
		      <td>$16</td>
		      <td>Byron, Riverbend</td>
			  <td>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
			  </td>
		    </tr>
		  </tbody>
		</table>   
    </div>
  </div>
</div>



<!-- <table mdbTable>
  <thead>
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{head}} </th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let el of elements">
      <th scope="row">{{el.id}}</th>
      <td>{{el.first}}</td>
      <td>{{el.last}}</td>
      <td>{{el.handle}}</td>
    </tr>
  </tbody>
</table> -->
