
/*search button starts here */
.search {
  width: 60%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 50%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap{
  width: 80%;
  position: absolute;
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
}

/*table starts here */
th {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }


td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

tr:hover {background-color: #f5f5f5;}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 250px;
  }
  
  img:hover .text
  {
    opacity:0.6;
    text-align:justify;
    color:#000000;
    font-size:20px;
    font-weight:700;
    font-family:"Times New Roman", Times, serif;
    padding:0px;
  }

  .container {
    padding: 2rem 0rem;
    height: 100%;
    font-family: Averta-Regular, Avenir, "Helvetica Neue", Calibri, Helvetica, Roboto, sans-serif;
    font-size: 17px;    
    color: rgb(27, 31, 35);
    display: flex;
    flex-direction: column;
  }
  
  h4 {
    margin: 2rem 0rem 1rem;
  }
  
  .checked {
    color: gold;
  }
  
  /*Booking starts here*/
  /* Don't use this styling */
body {
  background: #F6F6F6;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body .wrapper section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px; 
  width: 100%;
}

body .wrapper section.two {
  background: #555762;
}

body .wrapper section .search-block {
  box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.2);
}

/* Styling for the first search block */
.search-block-1 {
  color: #091F2F;
  background: #FCB61A;
  width: 50%;
  border-radius: 4px;
  padding: 12px;
  box-sizing: border-box;
}

.search-block-1 span.title {
  color: #4b5b67;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}

.search-block-1 .area {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.search-block-1 .date-time {
  margin-bottom: 12px;
}

.search-block-1 span.label {
  margin-bottom: 4px;
}

.search-block-1 input, .search-block-1 select {
  box-shadow: inset 0 3px 0 0 hsla(0,0%,82%,.4);
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  font-size: 16px;
  color: #091F2F;
}

.search-block-1 input:focus, .search-block-1 select:focus {
  outline-color: #0983F0;
}

.search-block-1 input {
  height: 38px;
  padding: 0 0 0 12px;
}

.search-block-1 select {
  height: 40px;
  font-size: 16px;
}

.search-block-1 .date-time .container-date-time {
  display: flex;
  flex-direction: row;
}

.search-block-1 .date-time .container-date-time .container-date, .container-time {
  display: flex;
  flex-direction: column;
}

.search-block-1 .date-time .container-date-time .container-date {
  width: 75%;
  margin-right: 12px;
}

.search-block-1 .date-time .container-date-time .container-time {
  width: 200px;
}

.search-block-1 button.btn.primary {
  background: #10aeda;
  color: white;
  width: 40%;
  -webkit-appearance: none;
  border: none;
  font-size: 16px;
  padding: 8px 0;
  box-shadow: inset 0 -2px 0 0 rgba(0,0,0,.2);
  border-radius: 4px;
  transition: background 0.2s ease-in-out;
  margin-left: 7%;
}

.search-block-1 button.btn.primary:hover {
  background: #036ac5;
}

.search-block-1 button.btn.primary2 {
  background: #09c4c7;
  color: white;
  width: 40%;
  -webkit-appearance: none;
  border: none;
  font-size: 16px;
  padding: 8px 0;
  box-shadow: inset 0 -2px 0 0 rgba(0,0,0,.2);
  border-radius: 4px;
  transition: background 0.2s ease-in-out;
  margin-left: 7%;
}

.search-block-1 button.btn.primary2:hover {
  background: #036ac5;
}
.search-block-1 button.btn.primary:focus {
  outline: none;
}
/* End of styling for the first search block */


/* Start of styling for the second search block */
/*.search-block-2 {
  color: #091F2F;
  background: #FCB61A;
  width: auto;
  border-radius: 4px;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-block-2 span.title {
  font-size: 24px;
  font-weight: 700;
  margin-right: 16px;
  margin-top: 14px;
}

.search-block-2 .area {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.search-block-2 .date-time {
  margin-right: 16px;
}

.search-block-2 span.text {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.search-block-2 input, .search-block-2 select {
  box-shadow: inset 0 3px 0 0 hsla(0,0%,82%,.4);
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  font-size: 16px;
 color: #091F2F; 
} 

.search-block-2 input:focus, .search-block-2 select:focus {
  outline-color: #0983F0;
}

.search-block-2 input {
  height: 38px;
  padding: 0 0 0 12px;
}

.search-block-2 select {
  height: 40px;
  font-size: 16px;
}

.search-block-2 .date-time .container-date-time {
  display: flex;
  flex-direction: row;
}

.search-block-2 .date-time .container-date-time .container-date, .container-time {
  display: flex;
  flex-direction: column;
}

.search-block-2 .date-time .container-date-time .container-date {
  width: 129px;
  margin-right: 12px;
}

.search-block-2 .date-time .container-date-time .container-time {
  width: 81px;
}

.search-block-2 button.btn.primary {
  background: #0983F0;
  color: white;
  width: 100%;
  -webkit-appearance: none;
  border: none;
  font-size: 20px;
  padding: 8px 0;
  box-shadow: inset 0 -2px 0 0 rgba(0,0,0,.2);
  border-radius: 4px;
  height: 54px;
  width: 150px;
  transition: background 0.2s ease-in-out;
}

.search-block-2 button.btn.primary:hover {
  background: #036ac5;
}

.search-block-2 button.btn.primary:focus {
  outline: none;
} */

/* End of styling for the second search block */