<div class="container">

  <div class="row">
    <div class="col-sm-6 banner-info">
      <h1>4Paws</h1>
      <p class="big-text">Crazy for pets</p>
      <p class="medium-text">Book trusted pet carer who will treat your pets like family!</p>
      <a class="btn btn-first" href="#"> Find a Pet Carer</a>
      <a class="btn btn-second" href="#">Join Us</a>
    </div>
    <div class="col-sm-6 banner-image">
      <img src=".../../assets/images/dog2.jpg" class="img-fluid">
    </div>
  </div>
  
  <hr>

  <div class="row justify-content-md-center">
      <h1>Services for your pet</h1>
  </div>
  <br><br>
  <div class="row">
    <div class="col-lg-4">
      <img src=".../../assets/images/petcarer.png" class="img-fluid img-services">
      <h2>Pet Carer</h2>
      <p>A pet carer comes to your home to care for your pet for 60 min. </p>
      <a class="btn btn-first" href="#"> More details...</a>
    </div>
    <div class="col-lg-4">
      <img src=".../../assets/images/dog_walk.png" class="img-fluid img-services">
      <h2>Pet Walking</h2>
      <p>30 or 60 min walks for your dog to expend energy.</p>
      <a class="btn btn-first" href="#"> More details...</a>
    </div>
    <div class="col-lg-4">
      <img src=".../../assets/images/daycare.png" class="img-fluid img-services">
      <h2>Pet daycare</h2>
      <p>Fun and attention during the day at the home of a Pet carer</p>
      <a class="btn btn-first" href="#"> More details...</a>
    </div>
  </div>
  <hr>
</div>
